html, body, #root {
  height: 100%;
}

.content {
  font-size:14px;
  margin-bottom: .3rem;
  border-left: 5px solid rgb(2, 8, 189);
  padding-left: .3rem;
}

.content .code {
  background-color: #1b1f23;
  color: #fafbfc;
  font-size:12px;
  padding:.3rem;
  border-radius: .5rem;
}

.content .code pre {
  color:white;
}


.highlight {
  color: yellowgreen
}